@import './global';

section {
  width: auto;
  height: 50rem;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;


  .main-container {
    //border: 0.2rem solid $font-color;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;


    .logo {
      font-family: 'STARWARS', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
      font-size: 4rem;
      color: $font-color;
      padding: 1rem;
    }

    .info-box {
      font-family: sans-serif;
      width: 20rem;
      margin: 1rem;
      border: 0.2rem solid $font-color;
      border-radius: 1rem;
      color: yellow;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      h2 {
        color: white;

      }


      span {
        font-weight: bold;
        padding: 0.5rem;
      }


      .char-name, .vech-name {
        display: flex;
        flex-direction: column;
        align-items: center;

      }

    }

  }
}
